*{
    margin: 0;
    padding: 0%;
}

.main{
    margin-left: 287px;
    
}

.logo{
    max-width: 100%;
    height: 157px;
    margin-left: 27px;
}

/* Contact CSS */

.bcolor{
    background-color: #1E1F31;
}